<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Oceny</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <div class="main">

            <ul>
                <li><a href="#">Home</a></li>
                <li class="active" ><a href="#">Oceny</a></li>
                <li><a href="#">Uwagi</a></li>
                <li><a href="#">Zadania domowe</a></li>
                <li><a href="#">Konkursy</a></li>
            </ul>

        </div>

        
        <table>
            <tr>
                <th style="background-color: lavenderblush; ">Matematyka</th>
                <td style="background-color: lightgoldenrodyellow; ">Angielski</td>
                <th style="background-color: lightgreen; ">Fizyka</th>
                <td style="background-color: lightpink; ">Przyroda</td>
                <th style="background-color: lightblue; ">Francuski</th>
                <td style="background-color: lightyellow; ">Historia</td>

            </tr>
        </table>

    </header>

</body>
</html>