<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="center">
      <h1>Zaloguj się</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Nazwa użytkownika</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Hasło<label>
        </div>
        <input type="submit" value="Zaloguj się">
        <div class="signup_link">
          Nie masz konta? <a href="#">Zarejestruj się</a>
        </div>
      </form>
    </div>

  </body>
</html>
