<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <div class="main">

            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Oceny</a></li>
                <li><a href="#">Uwagi</a></li>
                <li><a href="#">Zadania domowe</a></li>
                <li><a href="#">Konkursy</a></li>
            </ul>

        </div>
        <div class="title">
            <h1><img src="sowa.png" alt="sowa" width="1500" height="1000"></h1>
        </div>

        <div class="button">
            <a href="https://youtu.be/HActWQ77Ojk" class="btn">Angielski poprzez zabawę</a>
            <a href="https://youtu.be/pN8hW4DfUtQ" class="btn1">Matematyka dla opornych</a>
        </div>

        <div class="button1">
            <a href="#" class="btn2">Witaj imie nazwisko!</a>
        </div>

    </header>

</body>
</html>