<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>About me: <%= title %>
    </h1>
    <% if(action=='add' ) { %>

        <% } else { %>
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% if(sampleData) { sampleData.forEach(data=> { %>
                    <tr>
                        <td>
                            <%= data.id %>
                        </td>
                        <td>
                            <%= data.username %>
                        </td>
                        <td>
                            <%= data.userId %>
                        </td>
                    </tr>
                    <% }); } else { %>
                        <tr>
                            <td>No data found</td>
                        </tr>
                        <% } %>
            </table>
            <% } %>
</body>

</html>