<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="home.css">

</head>

<body>
    <header>
        <div class="main">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/oceny">Oceny</a></li>
                <li><a href="/uwagi">Uwagi</a></li>
                <li><a href="/konkursy">Konkursy</a></li>
                <li><a href="/logout">Wyloguj</a></li>
            </ul>

        </div>
        <div class="title">
            <h1><img src="sowa.png" alt="sowa" width="1800" height="700"></h1>
        </div>

        <div class="button">
            <a href="https://youtu.be/HActWQ77Ojk" target="_blank" class="btn">Angielski poprzez zabawę</a>
            <a href="https://youtu.be/pN8hW4DfUtQ" target="_blank" class="btn1">Matematyka dla opornych</a>
        </div>

        <div class="button1">
            <p class="btn2"> Witaj <%= user %>
                    <%= surname %>
            </p>
        </div>

    </header>

</body>

</html>