<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Konkursy</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <div class="main">

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Oceny</a></li>
                <li><a href="#">Uwagi</a></li>
                <li class="active" ><a href="#">Konkursy</a></li>
                <li><a href="#">Wyloguj</a></li>
            </ul>

        </div>


        <table>
            <tr>

                <th style="background-color: lightgreen; ">Nazwa</th>
                <th style="background-color: yellow; ">Data</th>
                <th style="background-color: hotpink; ">Godzina</th>
                <th style="background-color: deepskyblue; ">Sala</th>
            </tr>
        </table>

    </header>

</body>
</html>