<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Uwagi</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <div class="main">

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Oceny</a></li>
                <li class="active"><a href="#">Uwagi</a></li>
                <li><a href="#">Konkursy</a></li>
                <li><a href="#">Wyloguj</a></li>
            </ul>

        </div>


        <table>
            <tr>
              
                <th style="background-color: lightpink; ">Treść</th>
                <th style="background-color: lightgoldenrodyellow; ">Data</th>
            </tr>
        </table>

    </header>

</body>
</html>