<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="center">
        <h1>Zarejestruj ucznia lub nauczyciela</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Nazwa użytkownika</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>E-mail</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Hasło<label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Powtórz hasło<label>
            </div>
            <input type="submit" value="Zapisz konto">
            <div class="signup_link">
                Masz już konto? <a href="#">Zaloguj się</a>
            </div>
        </form>
    </div>

</body>
</html>
